<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />

    <script src="{{url_for('static', filename='main.js')}}"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />

    {% block head %} {% endblock %}
  </head>
  <body>
    <nav>
      <hgroup>
        <h2>TODO tasks app 📁</h2>
        <p>Using Python, Flask, SQLAlchemy, SASS & PicoCSS</p>
      </hgroup>
    </nav>
    <hr />
    {% block body %} {% endblock %}
  </body>
</html>
