<!-- Inherit from base -->
{% extends 'base.html' %} {% block head %}

<title>Edit task</title>
{% endblock %} {% block body %}

<main class="container-fluid">
  <h2>Edit task: {{ update_task.title }}</h2>
  <hr />

  <form action="/edit/{{update_task.id}}" method="POST">
    <label for="title"></label>
    <input type="text" value="{{update_task.title}}" name="title" id="title" />
    <input
      type="text"
      value="{{update_task.description}}"
      name="description"
      id="description"
    />
    <select name="tag" id="tag">
      <option value="{{ update_task.tag_id }}" selected>
        {{update_task.tag.name}}
      </option>

      {% for tag in all_tags %}

      <option value="{{ tag.id }}">{{ tag.name }}</option>

      {% endfor %}
    </select>

    <input
      class="pico-background-blue-500"
      type="submit"
      value="Update Task"
      id="btn"
    />
  </form>
</main>

{% endblock %}
