<!-- Inherit from base -->
{% extends 'base.html' %} {% block head %}

<title>Tasks</title>
{% endblock %} {% block body %}

<main class="container-fluid">
  <h2>Tasks list</h2>
  <hr />
  <div>
    <article>
      <header>
        <h5>Task name</h5>
      </header>
      <p>Some description</p>
      <footer>
        <div role="group">
          <button class="outline">Delete</button>
          <button class="outline">Edit</button>
        </div>
      </footer>
    </article>
  </div>
</main>

{% endblock %}
